<!DOCTYPE html>

<html ng-app="app">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../Backgrounds.css" />
</head>
<body ng-controller="Main as vm">
    <div id="top">
        <center>
            <br /><font face="lucida calligraphy" size="5" color="black"><h1>Register<br /></h1></font>
        </center>
    </div>
    <!-- This is just the basic information needed for a starting point and later we can add to this. Like -->
    <!-- a security question, job title, work location, etc -->
    <div id="bottom">
        <center>
            <input type="text" ng-model="vm.fn" placeholder="First Name" />
            <br /><input type="text" ng-model="vm.ln" placeholder="Last Name" />
            <br /><input type="text" ng-model="vm.en" placeholder="Employee Number" />
            <br /><input type="text" ng-model="vm.tn" placeholder="Tracking Number" />
            <br /><input type="text" ng-model="vm.un" placeholder="Username" />
            <br /><input type="text" ng-model="vm.pw" placeholder="Password" />
            <br /><input type="text" ng-model="vm.rpw" placeholder="Repeat Password" />
            <br /><br /><button type="button" onclick="location.href='Index.html';">Finished</button>
        </center>
    </div>

        <script src="Scripts/angular.min.js"></script>
        <script src="app/app.module.js"></script>
        <script src="app/main.js"></script>

</body>
</html>
